<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Connor McGibbon</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resume">Resume</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <main>
        <section id="intro" class="fade-in">
            <div class="text-section">
                <h1>About Me</h1>
                <div class="about-me">
                    <p>Hi! My name is <strong>Connor McGibbon</strong>. I am an undergraduate student at the <strong>University of Illinois at Urbana-Champaign</strong>, majoring in Computer Science and Mathematics.</p>
                
                    <h3>Background</h3>
                    <p>Born in St.Paul, Minnesota, and raised in the city of Chapel Hill, North Carolina, I've been inspired by the rich academic environment around me. I often engaged with advanced Math coursework at <strong>UNC Chapel Hill</strong>. This early exposure helped develop my fascination for mathematics and algorithm analysis.</p>
                
                    <h3>Passions and Interests</h3>
                    <p>My passion lies in <strong>full-stack web development</strong>, creating innovative solutions that bridge the gap between users and technology. Furthermore, I have a growing interest in <strong>machine learning</strong>, eager to explore its endless possibilities.</p>
                
                    <h3>Goals</h3>
                    <p>As I continue to hone my skills, I aspire to evolve into a proficient <strong>full-stack software engineer</strong>, specializing in building seamless, effective web applications. As a tech enthusiast and a dedicated student, I am always up for a challenge and ready to dive into the next big project.</p>
                </div>                
            </div>            
            <div class="image-section">
                <img id="profile-pic" src="static/images/aboutme.jpg">
            </div>
        </section>
        <section id="interests">
            <div class="interest-row">
                <div class="row hidden">    
                    <div class="interest-image">
                        <img src="static/images/soccer.png" alt="Soccer Image">
                    </div>  
                    <div class="interest-text">
                        <h2>Additional Interests</h2>
                        <p>In addition to my passion for computer science and mathematics, I have a deep love for <strong>soccer</strong>. I'm an avid <strong>Tottenham Hotspur fan</strong>, and have been playing the sport for nearly my entire life. My experiences on the field have taught me valuable lessons in teamwork, perseverance, and strategic thinking.</p>
                        <p>On top of playing, I've had the wonderful opportunity to coach a youth soccer team at the <strong>YMCA</strong>. This experience not only allowed me to pass on my love for the sport but also taught me how to effectively lead and motivate a team.</p>
                        <p>Outside of soccer, I make an effort to stay active, as I believe that a healthy body fosters a healthy mind. Whether it's going for a jog or hitting the gym, keeping fit is a crucial part of my routine.</p>
                    </div>
                </div>
            </div>
            <div class="interest-row">
                <div class="row hidden">
                    <div class="interest-text">
                        <div id="spotify-section">
                            <h2><img id="spotify-logo" src="static/images/spotifylogo.png" alt="Spotify Logo">My Current Top 5 Spotify Tracks</h2>
                            <ul id="spotify-top-tracks"></ul>
                            <p class="api-note">Dynamically Generated By Integrating Spotify's Web API</p>
                        </div>
                    </div>
                    <div class="interest-image">
                        <img class="smaller-image" src="static/images/meeeee.jpg" alt="Music Image">
                    </div>
                </div>
            </div>
        </section>        
    </main>

    <footer>
        <div class="social-links">
            <a href="https://github.com/camcgibbon" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/connor-mcgibbon/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:camcgibbon02@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
            <a href="https://www.instagram.com/concon_mcg/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 Connor McGibbon</p>
    </footer>
    <script src="static/about_scripts.js"></script>
</body>
</html>
