<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume | Connor McGibbon</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍💻</text></svg>">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/resume">Resume</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <div class="resume-top fade-in">
            <h1>You Can Download My Resume Here</h1>
            <a href="static/pdf/Connor McGibbon - Resume.pdf" download>
                <button id="resume-btn">Download</button>
            </a>    
        </div>
        
        <h1 class="text-center my-5 fade-in">Or View An Overview Of My Qualifications</h1>
    
        <div class="qualifications container fade-in">
            <div class="row qualification-section my-4">
                <h3 class="col-12"><strong>Education</strong></h3>
                <p class="col-12"><strong>B.S. Computer Science and Mathematics</strong>
                    <br>
                    <a href="https://cs.illinois.edu/" target="_blank">University of Illinois Urbana-Champaign</a><span class="date-text">, 2021 - 2025</span>
                </p>
            </div>
            
            <div class="row qualification-section my-4">
                <h3 class="col-12"><strong>Experience</strong></h3>
                <p class="col-12">
                    <strong><a class="leantaas" href="https://leantaas.com/" target="_blank">LeanTaaS</a> - Software Developer Intern</strong>
                    <br>
                    <span class="place-date">Charlotte, NC | June 2023 - Present</span>
                    <br>
                    <span class="description">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;Led the refactoring and optimization of legacy code within the company’s <strong>Python</strong>-based data pipeline, leveraging <strong>Amazon Web Services (AWS)</strong> for cloud-based data management, significantly enhancing application performance and contributing to a 32% reduction in patient wait times at major hospitals nationwide
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;Actively contributed to a dynamic <strong>Agile</strong> Scrum development team, utilizing tools such as <strong>Jira</strong> for project management, <strong>Bitbucket</strong> for code collaboration, and <strong>Git</strong> for version control - effectively met sprint goals across 4 consecutive sprints, significantly advancing project milestones
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;Worked extensively with <strong>SQL</strong> databases to improve data processing logic, ensuring efficient integration with restructured legacy code and enabling smoother, faster data flows within the broader application framework
                    </span>
                    <br>
                    <br>
                    <strong><a class="leantaas" href="https://dance4healing.com/" target="_blank">Dance4Healing</a> - Software Engineer Intern</strong>
                    <br>
                    <span class="place-date">Remote | April 2022 - November 2022</span>
                    <br>
                    <span class="description">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;Engineered and tested <strong>AI driven web applications</strong> providing over 1,000 cancer patients with personalized dance routines to promote physical therapy in collaboration with Stanford Healthcare
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;Collected information content through a <strong>MongoDB</strong> database and used the data to develop algorithms that enhance user experience using <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, and <strong>Node</strong>
                    </span>
                    <br>
                </p>
            </div>
            
            <div class="row qualification-section my-4">
                <h3 class="col-12"><strong>Skills</strong></h3>
            
                <div class="btn-group" role="group" aria-label="Skills Categories">
                    <button type="button" class="btn btn-primary filter-button" data-filter="all">All</button>
                    <button type="button" class="btn btn-primary filter-button" data-filter="data-engineering">Data Engineering</button>
                    <button type="button" class="btn btn-primary filter-button" data-filter="web-development">Web Development</button>
                    <button type="button" class="btn btn-primary filter-button" data-filter="tools">Tools</button>
                    <button type="button" class="btn btn-primary filter-button" data-filter="languages">Languages</button>
                    <button type="button" class="btn btn-primary filter-button" data-filter="frameworks">Frameworks</button>
                </div>
            
                <div class="col-12 skills-container">
                    <div class="resume-skill languages">
                        <p>Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill frameworks">
                        <p>Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>Numpy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>Pandas</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>Git</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>Jira</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>Bitbucket</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill languages">
                        <p>C++</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill languages">
                        <p>C</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>Docker</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>MongoDB</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>Javascript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>PyTorch</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>TensorFlow</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>GCP</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>AWS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>SciPy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill data-engineering">
                        <p>Matplotlib</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill tools">
                        <p>SymPy</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill languages">
                        <p>R</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill web-development">
                        <p>JQuery</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="resume-skill languages">
                        <p>Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>                                    
        </div>                              
    </main>
    <footer>
        <div class="social-links">
            <a href="https://github.com/camcgibbon" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/connor-mcgibbon/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="mailto:camcgibbon02@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
            <a href="https://www.instagram.com/concon_mcg/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 Connor McGibbon</p>
    </footer>
    <script src="static/resume_scripts.js"></script>
</body>
</html>